:root {
  --clr-bg-0: #ffffff;
  --clr-bg-1: #fafafa;
  --clr-bg-2: #f5f5f5;

  --clr-text-0: #ffffff;
  --clr-text-1: #333333;
  --clr-text-2: #666666;

  --clr-danger-1: hsl(0, 100%, 70%);
  --clr-danger-2: hsl(0, 100%, 60%);
}
