.navbar {
  height: var(--navbar-height);
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  &__logo-text {
    position: relative;
    font-size: 3rem;
    font-weight: 700;
    background: var(--clr-text-1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    // diamond shape in front of the logo
    &::before {
      content: "";
      position: absolute;
      top: 30%;
      left: -30%;
      width: 2rem;
      height: 2rem;
      background: var(--gradient-1);
      transform: scaleX(-0.5) rotate(45deg);
      transform-origin: center;
      z-index: 20;
    }
  }

  &__links {
    display: flex;
    align-items: center;
    gap: 0.8rem;
  }

  &__link {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--clr-text-2);
    transition: var(--transition-base);
    cursor: pointer;

    &:hover {
      background: var(--gradient-1);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__button {
    background: var(--gradient-1);
    position: relative;
    padding: 0.7rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    transition: var(--transition-fast);
    margin-left: 1.5rem;

    &::before {
      content: "";
      position: absolute;
      top: 2px;
      right: 2px;
      bottom: 2px;
      left: 2px;
      z-index: 1;
      background-color: var(--clr-bg-1);
      border-radius: 0.2rem;
    }

    &:hover {
      transform: scale(1.01);
    }
  }

  &__button-text {
    color: var(--clr-text-1);
    font-size: 1.2rem;
    position: relative;
    font-weight: 400;
    z-index: 2;
  }
}
